html {
  font-size: 20px;
  color: Black;
}

#header {
  text-align: center;
  padding-bottom: 20px;
}

.weddings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wedding {
  text-align: center;
  height: 600px;
}

.button {
  margin: 10px;
}

.wedding2 {
  border: 2px solid Black;
  margin-left: 30px;
  margin-right: 30px;
}

input {
  border: 2px solid #00FFFF;
  padding: 3px;
  margin: 15px;
}

.nas {
  background-color: red;
}

.jay {
  background-color: blue;
}

.big {
  background-color: pink;
}